<a href="https://colab.research.google.com/github/mrohit01/Customer_churn_prediction_using-ANN/blob/main/Customer_churn_prediction_using_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import tensorflow
from tensorflow import keras 
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
df = pd.read_csv("/content/Churn_Modelling (1).csv")

In [ ]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 2.6 MB

In [ ]:
df.duplicated().sum()   # now here we have removed duplicated rows

0

In [ ]:
df["Exited"].value_counts()     # from here we can understand this is imbalance data set

0    7963
1    2037
Name: Exited, dtype: int64

In [ ]:
df["Geography"].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [ ]:
df["Gender"].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'],inplace = True)

In [ ]:
df = pd.get_dummies(df,columns=["Geography","Gender"],drop_first = True)

In [ ]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split

x = df.drop(columns= ["Exited"])
y = df["Exited"]

x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 42, train_size = 0.8)

In [ ]:
y_test.shape

(2000,)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [ ]:
x_train_scaled

array([[ 0.35649971, -0.6557859 ,  0.34567966, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [-0.20389777,  0.29493847, -0.3483691 , ...,  1.72572313,
        -0.57638802,  0.91324755],
       [-0.96147213, -1.41636539, -0.69539349, ..., -0.57946723,
         1.73494238,  0.91324755],
       ...,
       [ 0.86500853, -0.08535128, -1.38944225, ..., -0.57946723,
        -0.57638802, -1.09499335],
       [ 0.15932282,  0.3900109 ,  1.03972843, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [ 0.47065475,  1.15059039, -1.38944225, ...,  1.72572313,
        -0.57638802,  0.91324755]])

In [ ]:
model = Sequential()

model.add(Dense(11,activation="relu",input_dim = 11))
model.add(Dense(15,activation="relu"))    # hl1
model.add(Dense(18,activation="relu"))    # hl2
model.add(Dense(1,activation = "sigmoid"))

In [ ]:
model.summary()     # 0.6 class1 0.3 claas0

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 15)                180

 dense_2 (Dense)             (None, 18)                288

 dense_3 (Dense)             (None, 1)                 19

=================================================================
Total params: 619
Trainable params: 619
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss= "binary_crossentropy",optimizer = "adam",metrics = ["accuracy"])

In [ ]:
model.fit(x_train_scaled,y_train,epochs=50)

NameError: ignored

In [ ]:
model.layers[1].get_weights()   # function

[array([[-0.01304571, -0.36757034, -0.07315832,  0.43769127, -0.40518504,
         -0.06907876,  0.04210923,  0.55739516, -0.3912815 , -0.37342015,
         -0.23908228, -0.16616228, -0.5096577 , -0.29350173,  0.35176113],
        [-0.49275148, -0.01630711, -0.13517165,  0.04704562,  0.17839073,
         -0.58793384,  0.57289654,  0.08179124, -0.41283813, -0.00349986,
         -0.09129453, -0.09271337,  0.45922711,  0.5405393 ,  0.06835273],
        [-0.43707624, -0.22070315,  0.49023625, -0.441402  , -0.24173573,
          0.20239724,  0.12365635, -0.12486127, -0.21443634, -0.16429986,
         -0.41527635,  0.40201873,  0.08199912, -0.41348585,  0.09961611],
        [-0.02272181,  0.02648346, -0.12589158,  0.23548949, -0.10075905,
          0.0797445 ,  0.10710303,  0.03113235, -0.05579112,  0.38617423,
          0.1512394 , -0.08333606,  0.2479257 ,  0.37364313, -0.31828722],
        [-0.66084236, -0.04540857, -0.6196009 , -0.51563686,  0.06223451,
         -0.0341805 ,  0.15106533,  0.15140423,  0.06048936,  0.59407765,
          0.21990971, -0.39902866, -0.13931423, -0.33861858, -0.1254117 ],
        [ 0.3004027 ,  0.13794106, -0.45497254,  0.53319633,  0.4160594 ,
          0.22243193,  0.01424164,  0.34960985, -0.0818724 , -0.03127337,
          0.18727085,  0.13562596, -0.18648411,  0.17860334, -0.03627932],
        [ 0.14443342, -0.51997143,  0.23313425,  0.47681364, -0.20416397,
          0.37545216,  0.27277702,  0.37788945, -0.05390354, -0.26207808,
         -0.29228497,  0.45229834,  0.2792848 ,  0.36051968, -0.13300736],
        [ 0.06726421,  0.01459184, -0.1999188 ,  0.24100824,  0.3928841 ,
          0.47722185, -0.43081716,  0.25066468,  0.18665929,  0.38385925,
         -0.27579832,  0.56675255, -0.31111997,  0.12744126,  0.23814659],
        [ 0.40020347, -0.5998629 ,  0.29973057,  0.32978445, -0.24404669,
          0.15916318, -0.29461065, -0.37257224,  0.5681749 ,  0.41771588,
         -0.32683533, -0.2724351 ,  0.45586097,  0.37917048, -0.09135263],
        [-0.26714024, -0.3880799 ,  0.19220035,  0.07744724,  0.54445124,
         -0.2683183 , -0.45847416,  0.24150984, -0.13376364, -0.2746614 ,
         -0.1487677 , -0.27306536, -0.21262483, -0.06593733,  0.36847055],
        [ 0.18122818,  0.49936238,  0.05970966,  0.31785282,  0.32220152,
          0.40686497,  0.19350134, -0.31676903,  0.5400692 , -0.42725432,
          0.09469041, -0.23979384,  0.16908531, -0.4070611 , -0.25187245]],
       dtype=float32),
 array([ 0.26057243, -0.13645384,  0.22801208, -0.08387301,  0.21398707,
         0.0639026 ,  0.10383978,  0.06995033,  0.16999665,  0.1297187 ,
         0.08931816,  0.2565137 , -0.03947622, -0.221697  ,  0.39935857],
       dtype=float32)]

In [ ]:
y_log = model.predict(x_test_scaled)

63/63 [==============================] - 0s 2ms/step

In [ ]:
y_pred = np.where(y_log>0.5,1,0)

In [ ]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [0]])

In [ ]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)
print(acc)

0.8535

In [ ]:
from sklearn.metrics import classification_report
clf = classification_report(y_test,y_pred)
print(clf)

              precision    recall  f1-score   support

           0       0.87      0.96      0.91      1607
           1       0.71      0.44      0.54       393

    accuracy                           0.85      2000
   macro avg       0.79      0.70      0.73      2000
weighted avg       0.84      0.85      0.84      2000

In [ ]:
list1 = []
for i in model.predict(x_test_scaled):
  if i >0.5:
    list1.append(1)
  else:
    list1.append(0)

63/63 [==============================] - 0s 2ms/step

In [ ]:
#saving the trained model
import pickle

In [ ]:
filename = "trained_model.sav"
pickle.dump(model,open(filename,"wb"))

In [ ]:
# loading the saved model 

loaded_model = pickle.load(open("trained_model.sav","rb"))